PORT=3000
NODE_ENV=development
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=api_facturacion
REDIS_HOST=localhost
REDIS_PORT=6379
JWT_ACCESS_SECRET=your-access-secret-min-64-chars!!!
JWT_REFRESH_SECRET=your-refresh-secret-min-64-chars!!!
JWT_ACCESS_EXPIRATION=60m
JWT_REFRESH_EXPIRATION=7d
ENCRYPTION_KEY=0123456789abcdef0123456789abcdef0123456789abcdef0123456789abcdef
DIAN_ENVIRONMENT=habilitacion
DIAN_HABILITACION_URL=https://vpfe-hab.dian.gov.co/WcfDianCustomerServices.svc
DIAN_PRODUCCION_URL=https://vpfe.dian.gov.co/WcfDianCustomerServices.svc
STORAGE_PATH=./storage
XSD_PATH=./xsd
QUEUE_SUBMISSION_MAX_ATTEMPTS=5
QUEUE_STATUS_MAX_ATTEMPTS=5
